# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
Thumbs.db
desktop.ini

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
.env.*
!.env.example  # Good practice: keep a template file for other devs
/uploads
coverage/
*.lcov
